/* reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* inizio body */
body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
/* fine body */

h1{
    color:#e4306d;
    padding: 20px;
}

p{
    padding: 20px;
}
